keras==2.10.0
keras-preprocessing==1.1.2
tensorflow==2.10.1
arrow
h5py==3.10.0
matplotlib==3.7.3
matplotlib-inline==0.1.6
mlxtend==0.23.1
natsort==8.4.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
notebook==6.5.6
numba==0.58.0
numpy==1.25.2
opencv-python==4.8.1.78
pillow==10.0.1
plotly==5.17.0
pandas
scikit-image
scikit-learn==1.4.0
scikit-opt==0.6.6
scipy==1.11.3
seaborn==0.12.2
